.research__lab-note {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    position: relative;
    margin-right: 0;
}

@media (min-width: 600px) {
    .research__lab-note {
        width: 48.7%;
        margin-right: 30px;
    }
}