.edu-card {
  background-color: white;
  min-height: 528px;
  min-width: 288px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #000D26;
  border-radius: 5px;
  padding: 16px;
}