.research__lab-photo {
    width: 23.8%;
    height: 100;
    background-image: url(../../../images/image35.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-right: 12px;
}

.research__lab-photo:last-of-type {
    margin-right: 0;
}