.header {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 11.5%;
    background-color: #000d26;
    box-sizing: border-box; /* удалить строчку, когда будет подключён класс page*/
}