.contacts-social{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .contacts-social{
    width: 210px;
    margin-bottom: 0;
    order: 5;
    padding-top: 35px;
  }
}
@media (min-width: 1440px){
  .contacts-social{
    padding: 0;
    align-self: flex-start;
  }
}