.header__logo_position_left {
    margin: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    display: none;
}

@media (min-width: 768px) {
    .header__logo_position_left {
        margin: 4px 0;
    }
}

@media (min-width: 1280px) {
    .header__logo_position_left {
        visibility: hidden;
    }
}