.content_inner {
  padding: 0 16px;
}

@media screen and (min-width: 600px) {
  .content_inner {
    padding: 0 39px;
  }
}

@media screen and (min-width: 1200px) {
  .content_inner {
    padding: 0 auto;
  }
}
