.footer__about{
  width: 140px;
}
@media (min-width: 500px) {
  .footer__about{
    width: 100px;
    padding-left: 20px;

  }
}
@media (min-width: 1440px) {
  .footer__about{
    margin-top: -48px;
  }
}