.footer__description{
  display: none;
}
@media (min-width: 500px) {
  .footer__description{
    display: block;
    margin: 0;
    width: 204px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;

  }
}
@media (min-width:1440px) {
  .footer__description{
    order: 4;
    width: 263px;
  }
}